@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100svh 100lvh 100dvh;
  width: 100svw 100lvw 100dvw;
  scroll-behavior: animation;
  overflow-x: hidden;
  scrollbar-color: red;
  
}
